* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #c4c3c3;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);


}
header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color: #f96407;

}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;

}

header .navbar a:hover{
    color:#f96407;

}
.fa-bars{
    display: none;
}


header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;

}

header .icons a:hover{
    color: #f96407;
}
section {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    padding-top: 2rem;
    height: 40vw;
    width: 70vw;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 2rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    color: #5b5a5a6f;
}

.cart-item p {
    font-size: 1.5rem;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #750130;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    
}

.btn:hover {
    background: #f96407;
}
